[Unit]
Description=mpro - Real-Time Cyber-Physical Stability Engine for Mac Pro 4,1 / 5,1
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/lib/mpro
ExecStart=/usr/local/bin/mpro --daemon
Restart=always
RestartSec=1s
TimeoutStopSec=3s

# Real-Time SCHED_RR Priority
Nice=-20
CPUSchedulingPolicy=rr
CPUSchedulingPriority=99
MemoryMax=128M
PrivateTmp=false
ReadWritePaths=/etc/mbpfan.conf /etc/mpro.conf /tmp /sys/devices/platform/applesmc.768 /var/lib/mpro

[Install]
WantedBy=multi-user.target
